// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.productSearch {
  margin-top: 20%;
  text-align: center;
}

#search {
  margin-bottom: 20px;

  input[type="text"] {
    width: 70%;
  }

  input[type="submit"] {
    margin-top: 20px;
  }
}
